{template "topic_header"}
<link href="static/style/channel.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	.ch-img,.ch-info{float:left}
	.ch-info{margin-left:9px;width:116px;word-break:break-all;}
	.ch-img .ch-sub{background:#AACCEF;color:white;padding:0px 15px;margin-top:9px;}
	.ch-img .ch-sub a{color:white;}
	.ch-info .topic-num{background:url('../../static/image/ch.jpg') no-repeat;width:19px;display:inline-block;height:16px;}
	.ch-info .publisher-num{background:url('../../static/image/ch.jpg') no-repeat;background-position-x:-18px;width:19px;display:inline-block;height:16px;}
	.ch-info p{ margin-bottom:1px;}
	.ch-info .title em{background:#D82719;color:white;padding:0px 4px;margin-left:6px;font-size:12px;}
	.sideul li{width:auto !important;}
</style>
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][header]}-->
<div class="a-h"><!--{eval SetADV('channel_home','header');}--></div>
<!--{/if}-->

<script language="javascript">
$(document).ready(function(){get_month_dig();get_week_dig();});
function get_week_dig(){channel_right_show_ajax('week_dig','0','0','8');}
function get_month_dig(){channel_right_show_ajax('month_dig','0','0','8');}
</script>
<div class="plaze_header_nav">
{jwidget channel.header.nav}
</div>
{template "topic_left_nav.inc"}

<div class="main">
<div class="mainWrap">
<div class="contentWrap">
<!--{if $channeltoptopic}-->
<div class="toprecommend">
<!--{else}-->
<div class="toprecommend" style="margin-top:-15px;">
<!--{/if}-->
<!--{if $channelrectopic}-->
<ul>
<!--{loop $channelrectopic $val}-->
<li>
<span>[<a href="index.php?mod=channel&id={$val[item_id]}">{$val[ch_name]}</a>]</span><a href="index.php?mod=topic&code={$val[tid]}">{$val[r_title]}</a></li>
<!--{/loop}-->
</ul>
<!--{/if}-->
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_center1]}-->
<!--{eval SetADV('channel_home','middle_center1');}-->
<!--{/if}-->
<div class="channelrecommend">
<!--{if $channellist}-->
<!--{loop $channellist $val}-->
<div class="channelrecommendList">
<h3><a href="index.php?mod=channel&id={$val['ch_id']}">{$val['ch_name']}</a>
<span class="follow_c_{$val['ch_id']}" style="float:left; padding-top:2px;">{$val['channel_buddy']}</span>
<div class="mright">
{$this->Config[changeword][n_weibo]}：{$val['topic_num']} 条 <em>|</em> 关注：<font class="follow_num_{$val['ch_id']}">{$val['buddy_numbers']}</font> 人
</div>
</h3>
<!--{if $val['child']}-->
    <ul>
	<!--{loop $val['child'] $v}-->
	<li style="height:100%;margin-bottom:30px;">
		<div class="ch-img">
			<p><a href="index.php?mod=channel&id={$v['ch_id']}"><img style="width:90px;height:90px" src="$v['picture']"/></a></p>
			<p class="ch-sub"><a href="index.php?mod=other&code=buy&t=1&ch_id={$v['ch_id']}">+ 订 阅</a></p>
		</div>
		<div class="ch-info">
			<p class="title"><a href="index.php?mod=channel&id={$v['ch_id']}">{$v['ch_name']}</a>{if $v['new_num']>0}<em>{$v['new_num']}</em>{/if}</p>
			<p>
			<span class="topic-num"></span><span class="num-txt">{eval echo $startNum+$v['topic_num']}</span>
			<span class="publisher-num"></span><span class="num-txt follow_num_{$v['ch_id']}">{eval echo $startNum+$v['buddy_numbers']}</span>
			</p>
			<p><span>{eval echo cutstr($v['description'],35,'...')}</span></p>
		</div>
	</li>
	<!--{/loop}-->
    </ul>
<!--{/if}-->
</div>
<!--{/loop}-->
<!--{/if}-->
</div>

</div>
</div>
</div>

<div class="sideBar">
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_right_top]}-->
<!--{eval SetADV('channel_home','middle_right_top');}-->
<!--{/if}-->

<div class="column">
<h3>发单成员活跃榜</h3>
<ul class="sideul sideuserList ">
<!--{if $userPublishTop}-->
<!--{loop $userPublishTop $val}-->
<li> 
<div class="utinfo">
<p><a href="index.php?mod={$val[username]}" target="_blank"><img onerror="javascript:faceError(this);" src="{$val[face]}" class="manface" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]})" onmouseout="clear_user_choose()"></a></p>
<p><a href="index.php?mod={$val[username]}" target="_blank">{$val[nickname]}</a></p>
</div> 
<div id="user_{$val[uid]}_user"></div> 
<div id="alert_follower_menu_{$val[uid]}"></div> 
<div id="global_select_{$val[uid]}" class="alertBox"></div> 
<div id="get_remark_{$val[uid]}"></div> <div id="button_{$val[uid]}" onclick="get_group_choose({$val[uid]});"></div> 
<div id="Pmsend_to_user_area"></div>
</li>
<!--{/loop}-->
<!--{/if}-->
</ul>
</div>
<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][middle_right]}-->
<!--{eval SetADV('channel_home','middle_right');}-->
<!--{/if}-->
</div>
</div>

<!--{if $this->Config[ad_enable] && $this->Config[ad][ad_list][channel_home][footer]}-->
<!--{eval SetADV('channel_home','footer');}-->
<!--{/if}-->
{template "topic_footer"}