# BEGIN JishiGou dir safe protect for wap/include/
<IfModule mod_rewrite.c>
RewriteEngine On
Options FollowSymLinks
RewriteBase /wap/include/
RewriteRule . index.html [L]
</IfModule>
# END JishiGou 2015-03-05 15:25:55