# BEGIN JishiGou dir safe protect for api/pw_client/
<IfModule mod_rewrite.c>
RewriteEngine On
Options FollowSymLinks
RewriteBase /api/pw_client/
RewriteRule . index.html [L]
</IfModule>
# END JishiGou 2015-03-05 15:25:55